* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: teal;
}

body {
    background-color: lightgray;
    transition: background-color 0.2s;
    width: 100vw;
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 12vh;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
}

.nav h1 {
    color: rgb(25, 25, 25);
    margin-left: 1.5rem;
    transition: color 0.2s;
}

.darkNav {
    background-color: rgb(10, 10, 10);
}

.darkNav .darkTitle {
    color: lightgray;
}

.darkContent {
    background-color: black;
}

.footer {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(225, 225, 225);
    transition: background-color 0.2s;
}

.footer .contactSection {
    font-size: 1.25rem;
    color: rgb(25, 25, 25);
    padding: 0.5rem;
    margin-left: 1rem;
}

.footer {
    font-weight: bold;
}

.darkFooter {
    background-color: rgb(10, 10, 10);
}

.darkFooter .darkContact {
    transition: color 0.2s;
    color: lightgray;
}

.switch {
    z-index: 2;
    margin-right: 4rem;
}

.switch .switchBtn {
    background-color: rgb(25, 25, 25);
    color: lightgray;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.switch .darkSwitchBtn {
    color: rgb(25, 25, 25);
    background-color: lightgray;
}

.contentSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gamesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.gameBox {
    width: 25rem;
    height: 30rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    background-color: rgb(225, 225, 225);
    padding: 1rem;
    transition: background-color 0.2s;
    color: rgb(25, 25, 25);
        box-shadow: rgba(150, 150, 150, 0.4) 5px 5px, rgba(150, 150, 150, 0.3) 10px 10px, rgba(150, 150, 150, 0.2) 15px 15px, rgba(150, 150, 150, 0.1) 20px 20px, rgba(150, 150, 150, 0.05) 25px 25px;
}

.gameBox .gameTitle {
    transition: color 0.2s;
    text-align: center;
    color: rgb(25, 25, 25);
    font-size: 1.75rem;
}

.gameBox .gameTitle .gameName {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.gameBox .gameDesc {
    transition: color 0.2s;
    color: rgb(25, 25, 25);
    font-size: 1.25rem;
}

.gameBox .gameDesc .gameDescription {
    font-weight: bold;
    font-size: 1.5rem;
}

.gameBox.darkGame {
    background-color: rgb(52, 52, 52);
    color: white;
    box-shadow: rgba(95, 95, 95, 0.4) 5px 5px, rgba(95, 95, 95, 0.3) 10px 10px, rgba(95, 95, 95, 0.2) 15px 15px, rgba(95, 95, 95, 0.1) 20px 20px, rgba(95, 95, 95, 0.05) 25px 25px;
}

.gameBox.darkGame .darkGameTitle {
    color: white;
}

.gameBox.darkGame .darkGameDesc {
    color: white;
}

.gameBox .gameImg {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.darkContent {
    background-color: rgb(25, 25, 25);
}

.darkContent .darkGame {
    background-color: rgb(52, 52, 52);
}

.header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(25, 25, 25);
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    padding-top: 14vh;
    transition: color 0.2s;
}

.darkHeader {
    color: lightgray;
    background-color: rgb(25, 25, 25);
    transition: color 0.2s, background-color 0.2s;
}

.darkMode .contentSection {
    background-color: rgb(52, 52, 52);
    text-align: center
}

.darkMode .gamesContainer {
    background-color: rgb(52, 52, 52);
}

.darkMode .gameBox {
    background-color: rgb(52, 52, 52);
}



